.pets-section__content-wrapper
  max-width: 1220px

.pets-section__pets-slider-wrapper
  display: flex
  flex-direction: column
  gap: 30px
  width: 100%;

.pets-slider-wrapper
  position: relative

.pets-slider__button
  position: absolute
  width: 18px
  height: 30px
  top: 50%;
  transform: translateY(-50%);
  transition: all .5s ease;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--color-secondary);

.pets-slider__button-next
  -webkit-mask-image: url('../../assets/images/icons/slider/arrow-next.svg');
  mask-image: url('../../assets/images/icons/slider/arrow-next.svg');
  right: -35px


.pets-slider__button-prev
  -webkit-mask-image: url('../../assets/images/icons/slider/arrow-prev.svg');
  mask-image: url('../../assets/images/icons/slider/arrow-prev.svg');
  left: -35px

.pets-slider__button-next.slick-disabled,
.pets-slider__button-prev.slick-disabled,
  background-color: #828282 

// .pets-section__pets-slider
//   margin-right: -30px

.pets-section__pets-slider-wrapper
  padding-top: 35px

.pets-section__pets-slider .slick-track
  display: flex;
  gap: 30px;

.pets-section__pets-slider .pet-card__wrapper
  max-width: 278px
  width: 100%
  height: 399px

.pets-section__pets-slider .pet-card
  width: 100%
  height: 100%
  
.pets-section__pets-slider .pet-card__image
  width: 100%
  height: 100%

// .pets-section__pets-slider .slick-current .pet-card__content-wrapper
//   display: flex
.pets-section__pets-slider .pet-card__wrapper .pet-card__content-wrapper
  transition: all 0.3s ease
  bottom: -100px
  display: flex

.pets-section__pets-slider .pet-card__wrapper:hover .pet-card__content-wrapper
  bottom: 33px;

.pets-section__pets-slider .pet-card__wrapper:hover .pet-card__image
  filter: brightness(50%)
.pets-section__choose-button-wrapper
  padding-top: 25px
  display: flex
  justify-content: center

@media only screen and (max-width: 1200px) 
  .pets-section__pets-slider-track .pet-card__wrapper
    max-height: 301px 
  .pets-section__pets-slider-track
    gap: 20px;
  .pets-section__pets-slider .pet-card
    width: 210px
    height: 301px
  .pets-section__pets-slider
   margin-right: 0
   padding-left: 8px;
  .pets-slider__button-prev
    left: -20px

@media only screen and (max-width: 900px) 
  .pets-slider__button-prev,
  .pets-slider__button-next
    display: none