mixin pets()
  .section-wrapper.pets-section-wrapper
    section.pets-section.section 
      .section__content-wrapper.pets-section__content-wrapper
        .section__describe-wrapper.pets-section__describe-wrapper
          h2.typography__section-title.pets-section__title Pets in Zoo
        .pets-section__pets-slider-wrapper
          .pets-slider-wrapper
            button.pets-slider__button.pets-slider__button-prev
            .pets-section__pets-slider
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/eagle2.jpg').default,alt: 'Eagle', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/panda2.jpg').default,alt: 'Panda', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/gorilla2.jpg').default,alt: 'Gorilla', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/alligator2.jpg').default,alt: 'Alligator', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/fox.jpg').default,alt: 'Fox', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/koala.jpg').default,alt: 'Koala', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/elephant.jpg').default,alt: 'Elephant', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/tiger.jpg').default,alt: 'Tiger', })
            button.pets-slider__button.pets-slider__button-next
        .pets-section__choose-button-wrapper
          +button({href:'#',type:'filled',value:'Choose your favorite',addClass:'pets-section__choose-button'})