.logotype
  padding-left: 1px
  width: 70px
  height: 42px
  display: flex
  flex-direction: column
  font-weight: bold
  text-decoration: none
  fill: var(--color-secondary)
  &--theme-light
    fill: var(--color-logotype-light)

.logotype:hover .logotype__icon-top,
.logotype:hover .logotype__icon-bottom
  transition: transform 0.3s ease

.logotype:hover .logotype__icon-top
  transform: translateY(-2px)

.logotype:hover .logotype__icon-bottom
  transform: translateY(2px)