mixin logotype(options = {})
  a(href=options.href).logotype 
    img(src=require('../../assets/images/logotype/logotype-top.svg').default, alt="ZOO").logotype__icon-top
    img(src=require('../../assets/images/logotype/logotype-bottom.svg').default, alt="online").logotype__icon-botom
