.logotype
  padding-left: 1px
  height: 42px
  display: flex
  justify-content: center
  flex-direction: column
  font-weight: bold
  text-decoration: none
  color: var(--logotype-color)
  &__text-top,
  &__text-bottom
    transition: all 0.3s ease
  &__text-top
    font-size: 36px
    line-height: 28px
  &__text-bottom
    font-size: 18px
    letter-spacing: 0.08em;


.logotype:hover .logotype__text-top
  transform: translateY(-2px)

.logotype:hover .logotype__text-bottom
  transform: translateY(2px)