mixin logotype(options = {})
  -
    var classes = 'logotype'
    if(options.theme)
      classes +=` logotype--theme-${options.theme}`
    
  a(href=options.href class=classes)
    span.logotype__text-top zoo
    span.logotype__text-bottom online