.FAQ-section-wrapper
  background-color: var(--section-color-background-two)

.FAQ-section__qa-wrapper
  display: flex
  justify-content: space-between
  min-height: 213px
  
.FAQ-section__qa-item
  max-width: 370px
  width: 100%
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
  gap: 15px

@media screen and ( max-width: 1200px )
  .FAQ-section__qa-item
    max-width: 286px

@media screen and ( max-width: 919px )
  .FAQ-section__qa-wrapper
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 50px

@media screen and ( max-width: 400px )
  .FAQ-section__qa-wrapper
    gap: 30px
  .FAQ-section__qa-item
    max-width: 100%