.FAQ-section-wrapper
  background-color: var(--section-color-background-two)

.FAQ-section__qa-wrapper
  display: flex
  justify-content: space-between

.FAQ-section__qa-item
  max-width: 380px
  width: 100%
  height: 213px
  display: flex
  justify-content: flex-start
  align-items: center
  flex-direction: column
  gap: 15px