.button 
  position: relative
  display: flex
  justify-content: center
  vertical-align: center
  align-items: center
  text-decoration: none
  font-weight: 500
  color: var(--color-text-primary)
  font-size: 14px
  transition: all 0.3s ease
  &--current
    font-weight: bold
    &::after
      position: absolute
      content: ''
      width: 49px
      height: 1px
      background-color: var(--color-text-primary)
      left: 0
      bottom: -1px
  &--gradient
    background: -webkit-linear-gradient(106.89deg, var(--color-primary-gradient-in) -14.32%, var(--color-primary-gradient-out) 100.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    & > .button__icon
      background: linear-gradient(106.89deg, var(--color-primary-gradient-in) -14.32%, var(--color-primary-gradient-out) 100.68%);
  &:viseted
    text-decoration: none
  &-text
    color: var(--card-color-text)
    flex-direction: row-reverse
    gap: 3px
    font-size: 12px
    text-transform: uppercase
    & > .button__icon
      height: 24px
      width: 24px
  &-nav
    color: var(--header-nav-text-color)
    font-size: 16px
    &:hover
      color: #5ed
  &-filled
    flex-direction: row-reverse
    gap: 5px
    width: 245px
    height: 55px
    border-radius: 3px
    color: var(--color-button-text)
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    line-height: 21px
    background: linear-gradient(106.89deg, var(--color-primary-gradient-in) -14.32%, var(--color-primary-gradient-out) 100.68%);
    & > .button__icon
      width: 32px
      height: 32px
  &-ghost
    width: 115px;
    height: 29px;
    font-size: 13px
    line-height: 15px
    gap: 4px
    background: -webkit-linear-gradient(106.89deg, var(--color-primary-gradient-in) -14.32%, var(--color-primary-gradient-out) 100.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover
      transform: scale(1.04)
    & .button__icon
      height: 16px
      width: 16px
      background: linear-gradient(106.89deg, var(--color-primary-gradient-in) -14.32%, var(--color-primary-gradient-out) 100.68%);

    &::before
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 3px;
      padding: 1px;
      background: linear-gradient(106.89deg, var(--color-primary-gradient-in) -14.32%, var(--color-primary-gradient-out) 100.68%);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
  &__icon
    display: inline-block
    width: 20px
    height: 20px
    &.play-icon
      background-color: white
      -webkit-mask: url(../../assets/images/icons/play.svg) no-repeat
      -webkit-mask-size: contain
      background-size: contain
    &.cash-icon
      background-color: white
      -webkit-mask: url(../../assets/images/icons/cash.svg) no-repeat
      -webkit-mask-size: contain
      background-size: contain

button.button
  cursor: pointer
  width: 130px
  margin-left: auto
  gap: 25px
  padding-right: 10px
  background: none
  border: none
  text-transform: uppercase
  color: var(--input-text-color);
  &  .arrow-icon
    width: 48px
    height: 8px
    background-position: right
    background-color: white
    -webkit-mask: url(../../assets/images/icons/arrow.svg) no-repeat
    -webkit-mask-size: contain
  &:hover
    transform: scale(1.1);
  &:hover .arrow-icon
    background: linear-gradient(106.89deg, var(--color-primary-gradient-in) -14.32%, var(--color-primary-gradient-out) 100.68%);
    -webkit-mask: url(../../assets/images/icons/arrow.svg) no-repeat
    -webkit-mask-size: contain