include ../socials/socials.pug
include ../pet-card/pet-card.pug

mixin hero()
  .section-wrapper.hero-section-wrapper
      section.hero-section.section
        .section__content-left
          +socials([{href: "#",value:'',icon: 'instagram'},{href: "#",value:'',icon: 'twitter'},{href: "#",value:'',icon: 'youtube'},{href: "#",value:'',icon: 'vk'}])
        .section__content-wrapper
          h1.typography__page-title.hero-section__title Watch your favorite animal online
          .hero-section__button-watch-wrapper
            +button({href:'#',type:'filled',value:'watch online',icon:'play',addClass:''})
        .hero-section__pets-slider-wrapper
          .hero-section__pets-slider
            +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/eagle2.jpg').default,alt: 'Panda', })
            +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/panda2.jpg').default,alt: 'Panda', })
            +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/gorilla2.jpg').default,alt: 'Panda', })
            +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/alligator2.jpg').default,alt: 'Panda', })
            +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/eagle2.jpg').default,alt: 'Panda', })
            +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/panda2.jpg').default,alt: 'Panda', })
            +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/gorilla2.jpg').default,alt: 'Panda', })
            +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: '#', image: require('../../assets/images/pet-cards/alligator2.jpg').default,alt: 'Panda', })