.hero-section-wrapper
  position: relative
  background: var(--section-color-background-two) url(../../assets/images/hero.png) no-repeat center
  width: 100%
  height: 940px
  margin: 0 auto

.hero-section
  position: relative;
  display: flex
  max-height: 940px
  height: 100%
  padding-top: 206px
  padding-bottom: 110px

.hero-section .section__content-wrapper
  max-width: 1220px

.hero-section__title
  max-width: 793px
  text-align: left
  
.hero-section__button-watch-wrapper
  padding-top: 37px

.section__content-left
  display: flex

.hero-section .socials
  align-items: flex-start
  justify-content: flex-end
  flex-direction: column

.hero-section__pets-slider-wrapper
  display: flex
  flex-direction: column
  gap: 10px
  justify-content: center
  align-items: center
  position: absolute
  bottom: 110px
  right: 0px
  overflow: hidden

.hero-section__pets-slider-wrapper .slider-scrollbar__container
  padding-right: 304px;

.hero-section__pets-slider-wrapper .slider-scrollbar__current-index,
.hero-section__pets-slider-wrapper .slider-scrollbar__separator,
  color: #fefefe

.hero-section__pets-slider-wrapper .slider-scrollbar__input::-webkit-slider-thumb,
  background-color: #fefefe

.hero-section__pets-slider-wrapper .slider-scrollbar__input::-moz-range-thumb 
  background-color: #fefefe

.hero-section__pets-slider
  display: flex
  align-items: center
  max-width: 968px
  height: 352px
  background: url('../../assets/images/icons/line.svg') no-repeat
  background-position-y: 50%


.hero-section__pets-slider .slick-track 
  display: flex;
  gap: 46px;
  height: 360px

.hero-section__pets-slider .slick-track .slick-slide 
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;

.pets-slider__track
  height: 351px

.hero-section__pets-slider .rnssnc-slide
  padding: 0 23px

.hero-section__pets-slider .rnssnc-slide.slide-active .pet-card__image,
.hero-section__pets-slider .rnssnc-slide:hover .pet-card__image,
.hero-section__pets-slider .slick-slide:hover .pet-card__image,
.hero-section__pets-slider .slick-current-delayed .pet-card__image
  transition: all 0.3s ease
  width: 245px
  height: 352px

.rnssnc-slide:hover .pet-card__image,
.hero-section__pets-slider .slick-slide:hover .pet-card__image,
  filter: brightness(50%)
  
.rnssnc-slide:hover .pet-card__content-wrapper,
.rnssnc-slide.slide-active .pet-card__content-wrapper,
.hero-section__pets-slider .slick-slide:hover .pet-card__content-wrapper,
.hero-section__pets-slider .slick-current-delayed .pet-card__content-wrapper
  display: flex

@media only screen and (max-width: 1200px) 
  .hero-section__pets-slider
    max-width: 600px
  .hero-section__pets-slider-wrapper .slider-scrollbar__container
    padding-right: 0;
    padding-left: 68px;