.hero-section-wrapper
  background: url(../../assets/images/hero.png) no-repeat center
  max-width: 1920px
  width: 100%
  height: 940px
  margin: 0 auto

.hero-section
  padding-top: 206px
.hero-section__title
  max-width: 793px

.hero-section__button-watch-wrapper
  padding-top: 37px