include ../socials/socials.pug
include ../pet-card/pet-card.pug

mixin hero()
  .section-wrapper.hero-section-wrapper
      section.hero-section.section
        .section__content-left
          +socials([{href: "#",value:'',icon: 'instagram'},{href: "#",value:'',icon: 'twitter'},{href: "#",value:'',icon: 'youtube'},{href: "#",value:'',icon: 'vk'}])
        .section__content-wrapper
          h2.typography__page-title.hero-section__title Watch your favorite animal online
          .hero-section__button-watch-wrapper
            +button({href:'./zoos.html',type:'filled',value:'watch online',icon:'play',addClass:''})
        .hero-section__pets-slider-wrapper
          .hero-section__pets-slider
            .pets-slider__track
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: './zoos.html#eagle', image: require('../../assets/images/pet-cards/eagle.png').default,alt: 'Eagle', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: './zoos.html#panda', image: require('../../assets/images/pet-cards/panda.png').default,alt: 'Panda', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: './zoos.html#gorilla', image: require('../../assets/images/pet-cards/gorilla.png').default,alt: 'Gorilla', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: './zoos.html#alligator', image: require('../../assets/images/pet-cards/alligator.png').default,alt: 'Alligator', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: './zoos.html#fox', image: require('../../assets/images/pet-cards/fox.png').default,alt: 'Fox', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: './zoos.html#koala', image: require('../../assets/images/pet-cards/koala.png').default,alt: 'Koala', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: './zoos.html#elephant', image: require('../../assets/images/pet-cards/elephant.png').default,alt: 'Elephant', })
              +pet-card({caption:'Panda’s name is Bei Bei. He is 2 years old. Bei Bei is from China. He loves bamboos.',href: './zoos.html#tiger', image: require('../../assets/images/pet-cards/tiger.png').default,alt: 'Tiger', })