* 
  box-sizing: border-box;
  margin: 0;
  padding: 0;

html,body 
  height: 100%;

body
  max-width: 1640px
  padding-left: 10px
  padding-right: 10px
  margin: 0 auto
  color: var(--color-text-primary)
  font-family: 'Roboto', sans-serif
  font-size: $font-size-body
  // line-height: 27px
  // color: $color-font-light
