* 
  box-sizing: border-box;
  margin: 0;
  padding: 0;

html,body 
  height: 100%;

body
  color: var(--color-text-primary)
  font-family: 'Roboto', sans-serif
  font-size: $font-size-body
  // line-height: 27px
  // color: $color-font-light
.header,
.footer,
.section
  max-width: 1620px
  // padding-left: 10px
  // padding-right: 10px
  margin: 0 auto


.section
  padding-bottom: 100px
  padding-top: 100px

.section-wrapper
  background-color: var(--section-color-background-one)
  
.section__description
  max-width: 790px
  width: 100%
// .section
//   max-width: 1220px
//   padding-left: 10px
//   padding-right: 10px
//   margin: 0 auto

.section__content-wrapper
  max-width: 1220px
  width: 100%
  padding-left: 10px
  padding-right: 10px
  margin: 0 auto


.section__describe-wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 30px
  max-width: 790px
  width: 100%
  margin: 0 auto

.typography__page-title
  margin: 0
  color: var(--color-page-title)
  font-size: 89px
  font-weight: bold
  line-height: 104px

.typography__cta
  font-weight: bold
  font-size: 20px
  line-height: 23px

.typography__section-title
  width: 100%
  text-align: center;
  color: var(--section-color-title)
  font-size: 48px;
  font-weight: bold
  line-height: 56px;

