* 
  box-sizing: border-box;
  margin: 0;
  padding: 0;

h1,h3,h3,h4,h5,h6
  margin: 0 

html,body 
  height: 100%;

body
  color: var(--color-text-primary)
  font-family: 'Roboto', sans-serif
  font-size: 14px
  min-width: 320px
  // line-height: 27px
  // color: $color-font-light
.header,
.footer,
.section
  max-width: 1920px
  padding-left: 150px
  padding-right: 150px
  margin: 0 auto

.slick-slider
  overflow: hidden

.section
  padding-bottom: 100px
  padding-top: 100px

.section-wrapper
  background-color: var(--section-color-background-one)
  
.section__description
  max-width: 790px
  width: 100%
// .section
//   max-width: 1220px
//   padding-left: 10px
//   padding-right: 10px
//   margin: 0 auto

.section__content-wrapper
  max-width: 1200px
  width: 100%
  margin: 0 auto


.section__describe-wrapper
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 30px
  max-width: 790px
  width: 100%
  margin: 0 auto

.typography__page-title
  margin: 0
  color: var(--color-page-title)
  font-size: 89px
  font-weight: bold
  line-height: 104px

h3,
.typography__cta
  font-weight: bold
  color: var(--section-color-title)
  font-size: 20px
  line-height: 23px

h2,
.typography__section-title
  width: 100%
  text-align: center;
  color: var(--section-color-title)
  font-size: 48px;
  font-weight: bold
  line-height: 56px;

.visuallyhidden 
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;

@media screen and (max-width:  999px)
  .section,
  .header
    padding-left: 20px
    padding-right: 20px

@media screen and ( max-width: 1200 )
  .section__description
    max-width: 746px
  
@media screen and (max-width:  600px)
  .section,
  .header
    padding-left: 10px
    padding-right: 10px

@media screen and (max-width:  400px)
  .section
    padding-top: 50px
    padding-bottom: 50px
  .typography__section-title
    font-size: 36px
    line-height: 42px
  