[data-color-mode=light]
  --color-primary: #FEFEFE
  --color-text-primary: #333333
  --color-primary-gradient-in: #4BD8B5
  --color-primary-gradient-out: #49D6DF
  --color-toggle-background: #F2F2F2
  --color-toggle-background-checked: #4F4F4F
  --color-toggle-thumb-color: #FFFFFFF
  --color-toggle-thumb-color-checked: #1b1b1b

$font-size-body: 14px