extends ../base/base.pug

include ../../components/header/header.pug
include ../../components/hero/hero.pug
include ../../components/nourish/nourish.pug

block variables
  -
    pageTitle = 'Online zoo'

block header 
  +header({
    navigationItems: [{href: '#',value:'About',type:'nav',modifier:'current'},{href: '#',type:'nav',value:'Map'},{href: '#',type:'nav',value:'Contact Us'},{href:'#',type:'nav',value:'Design'}]
  })
block main 
  +hero()
  +nourish()