.navigation-header-main
  padding-top: 0

.map-section
  padding-top: 60px

.map-section__describe-wrapper
  gap: 20px

.map-section-watch-online-button-wrapper
  display: flex;
  justify-content: center;
  padding-top: 48px
  
.pet-slider__wrapper
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center;
  padding-bottom: 80px;
  max-width: 1190px;
  margin: 0 auto;

.pet-slider__wrapper .slider-scrollbar__container
  padding-top: 30px
  padding-right: 34px;

.pet-slider__container
  padding-top: 55px
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center

.pet-slider
  max-width: 1140px
  padding-left: 25px
  padding-right: 25px
  width: 100% 
  height: 157px

.pet-slider__track
  display: flex
  gap: 30px

.player-pet-switch__pet-card
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 0 auto
  width: 108px
  height: 108px
  transition: all 0.3s ease
  & .pet-card__image
    display: flex
    justify-content: center
    align-items: flex-end
    position: relative
    max-width: 108px
    width: 100%
    max-height: 108px
    height: 100%
    background-size: cover
    background-repeat: no-repeat
    border-radius: 50%
    transition: all 0.3s ease
  & .pet-card__tooltip
    position: absolute
    bottom: 15px
    display: none
    font-size: 16px
    color: var(--card-color-text);

.pet-slider .slide-active .player-pet-switch__pet-card
  transform: scale(1.27)
  &::before
    content: "";
    position: absolute;
    top: calc(50% - 62px);
    left: calc(50% - 62px);
    width: 118px;
    height: 118px;
    border-radius: 50%;
    padding: 3px;
    background: linear-gradient(106.89deg, #07EEE0 -14.32%, #DF496D 100.68%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;      
  & .pet-card__image
    filter: brightness(60%)

.player-pet-switch__pet-card:hover .pet-card__tooltip,
.pet-slider .slide-active .pet-card__tooltip,
  display: block

.player-pet-switch__pet-card:hover .pet-card__image
  filter: brightness(60%)

.pet-slider__button-prev,
.pet-slider__button-next
  width: 30px;
  height: 30px;
  transition: all .5s ease;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--color-secondary);
  -webkit-mask-image: url('../../assets/images/icons/slider/arrow-prev.svg');
  mask-image: url('../../assets/images/icons/slider/arrow-prev.svg');
  -webkit-mask-repeat: no-repeat
   
.pet-slider__button-prev
  transform: rotate(180deg)

.map__marker:hover .marker__animal-info
  display: none

@media screen and ( max-width: 1500px )
  .pet-slider__wrapper
    max-width: 780px  
  .pet-slider.rnssnc-slider
    max-width: 710px
    padding-left: 25px
    padding-right: 25px
  .pet-slider__container
    padding-top: 35px
  .pet-slider__wrapper .slider-scrollbar__container
    padding-top: 26px
    padding-right: 0
  .pet-slider__wrapper
    padding-bottom: 31px
  .map-section-watch-online-button-wrapper
    padding-top: 5px

@media screen and ( max-width: 800px )
  .map-section
    padding-bottom: 80px
  .pet-slider.rnssnc-slider
    max-width: 520px
    padding-left: 0
    padding-right: 0
  .pet-slider__track
    gap: 15px
  .pet-slider .rnssnc-slide.slide-active
    padding: 0 18px
  .pet-slider .rnssnc-slide:first-child.slide-active
    padding-left: 25px
  .map-section-watch-online-button-wrapper 
      padding-top: 49px;

@media screen and ( max-width: 600px )
  .map-section
    padding-left: 20px
    padding-right: 20px

@media screen and ( max-width: 500px )
  .player-pet-switch__pet-card
    width: 60px
    height: 60px
  .pet-slider .slide-active .player-pet-switch__pet-card 
    transform: scale(1.25);
  .pet-slider .slide-active .player-pet-switch__pet-card::before
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    width: 66px;
    height: 66px;
  .pet-slider__track
    gap: 10px
  .player-pet-switch__pet-card .pet-card__tooltip
    bottom: 7px;
    font-size: 11px;
  .pet-slider.rnssnc-slider 
    max-width: 240px;
  .typography__section-title
    font-size: 24px
    line-height: 28px
  .map-section__description
    font-size: 12px
    line-height: 14px
  .map-section
    padding-top: 35px
    padding-bottom: 60px
  .map-section__describe-wrapper
    gap: 10px
  .pet-slider__container
    padding-top: 25px
  .pet-slider
    height: 110px
  .pet-slider__container
    max-width: 270px
  .pet-slider .rnssnc-slide.slide-active
    padding: 0 10px
  .pet-slider__wrapper .slider-scrollbar__container 
    padding-top: 8px;
    padding-left: 25px;
  .map-section-watch-online-button-wrapper 
    padding-top: 39px;
  