include ../logotype/logotype.pug
include ../navigation/navigation.pug
include ../toggle/toggle.pug

mixin header(options = {})
  .section-wrapper.header-section-wrapper
    header.header
      +logotype({href: './'})
      +navigation(options.navigationItems,{class: 'navigation-header-main'})
      .header-right-items__wrapper
        +toggle()
        .mobile-nav
          .mobile-nav__line.mobile-nav__line-1
          .mobile-nav__line.mobile-nav__line-2
          .mobile-nav__line.mobile-nav__line-3