include ../logotype/logotype.pug
include ../navigation/navigation.pug
include ../toggle/toggle.pug

mixin header(options = {})
  .section-wrapper.header-section-wrapper
    header.header
      +logotype({href: './'})
      +navigation(options.navigationItems,{class: 'navigation-header-main'})
      +toggle()