include ../logotype/logotype.pug
include ../navigation/navigation.pug
include ../input/input.pug
include ../socials/socials.pug

mixin footer()
  .section-wrapper.footer-section-wrapper
    footer.footer
      .footer__column-row
        .footer__column 
          +logotype({href: './'})
        .footer__column 
          .footer-nav-wrapper
            +navigation([{href: './', type:'nav', value:'About'},{href: './map.html', type:'nav', value:'Map'},{href: './zoos.html#panda', type:'nav', value:'Zoos'},{href:'https://www.figma.com/file/HKt5Nlx0jghQtJp6jW9q8F/zooApp?node-id=155%3A205',type:'nav',value:'Design'}],{class: 'navigation-footer-main'})
            +button({href:'#',type:'filled',addClass:'footer-nav__donate-button',value:'donate for volunteers'})
      .footer__column-wrapper
        .footer__column 
          h3.footer__contact-us-form-caption.typography__cta Contact us
          form(class='footer__contact-us-form' id="contact-us-form")
            +input({type:'text', name:'name', placeholder:'Name', required: true,label:'Name',id:'footer__contact-us-form__name',autocomplete: 'off'})
            +input({type:'email', name:'email', placeholder:'Email', required: true,label:'Email',id:'footer__contact-us-form__email',autocomplete: 'off'})
            +input({type:'textarea', name:'textarea', maxlength:'280', placeholder:'', required: true,label:'Please enter your message',id:'footer__contact-us-form__textarea',autocomplete: 'off'})
            +input({type:'checkbox', name:'checkbox', placeholder:'', required: true,label:'I agree to the processing of Personal Data',id:'footer__contact-us-form__agreement-checkbox'})
            +button({isButton: true, isSub: true, type: 'submit', value:'send', type:'icon', icon: "arrow"})
        .footer__column
          address.footer__contact
            p.footer__contact-caption ZOO ONLINE CENTER
            .footer__contact-wrapper
              address.footer__contact-address-wrapper
                p.footer__contact-address__address 132, Address District, Street  
                p.footer__contact-address__mode Open Daily 10:00 am - 5:00 pm
                ul.footer__contacts 
                  li.footer__contact-item 
                    a(href="tel:+77021633633" class="button button-contact") T(702) 163-3433
                  li.footer__contact-item 
                    a(href="mailto:zoo.online@gmail.com" class="button button-contact") zoo.online@gmail.com
              +socials([{href: "#",value:'',icon: 'instagram'},{href: "#",value:'',icon: 'twitter'},{href: "#",value:'',icon: 'youtube'},{href: "#",value:'',icon: 'vk'}])
      .footer__copyright
        span.footer__copyright__designer ©Noora Sagnayeva
        span.footer__copyright__company  ©RSSchool and ©Yem Digital - 2021