.footer-section-wrapper
  background-color: var(--footer-background-color)

.footer
  display: flex
  flex-wrap: wrap
  color: var(--footer-text-color-primary)
  padding-bottom: 72px

.footer .button
  color: var(--footer-text-color-primary)

.contact-row
  padding-top: 57px
  padding-bottom: 60px

.footer__column
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 50%;

.footer__column-right
  padding-left: 15px

.footer__column-row
  width: 100%
  display: flex
  justify-content: space-between

.footer .logotype
  align-self: flex-start
  color: var(--footer-logotype-color)

.footer-nav-wrapper
  position: relative
  display: flex
  justify-content: space-between
  gap: 15px;

.footer-nav-wrapper .navigation__list
  gap: 73px

.footer__contact-us-form
  padding-top: 33px
  display: flex
  flex-direction: column
  gap: 21px
  max-width: 383px

.contact-us-form__button-submit
  padding-right: 10px

.footer__contact-us-form-caption
  color: var(--footer-header-color)

.footer .navigation__link,
  color: var(--footer-text-color-primary)
   
.footer .navigation__link::after
  background-color: var(--footer-text-color-primary) 

.footer-nav__donate-button
  width: 275px

.footer__contact
  font-style: normal

.button-contact
  display: inline-block
  font-weight: normal

.footer__contact-wrapper
  display: flex
  flex-direction: column
  padding-top: 35px
  gap: 20px

.footer__contact-address-wrapper
  display: flex
  flex-direction: column
  gap: 5px
  font-style: normal

.footer__contacts 
  display: flex
  flex-direction: column
  gap: 5px
  padding-top: 15px
  list-style-type: none
  
.footer__copyright 
  color: #BDBDBD
  display: flex
  flex-direction: column
  flex-basis: calc(100%)
  gap: 5px
  border-top: 1px solid #fefefe
  padding-top: 28px
  font-size: 12px

@media screen and ( max-width: 1200px )
  .footer
    padding-bottom: 52px
  .footer-nav__donate-button
    position: absolute
    bottom: -336px
  .footer__nav-column
    justify-content: flex-end
  .footer__column.footer__column-right
    padding-left: 10px
  .footer__contact-us-form-caption 
    color: var(--footer-header-color)
    padding-top: 12px
  .contact-row
    padding-bottom: 64px
  .footer__copyright
    padding-top: 34px

@media screen and ( max-width: 1070px )
  .footer-nav__donate-button
    right: 0
@media screen and ( max-width: 640px )
  .footer
    padding-bottom: 47px
  .footer__column-row
    flex-direction: column
  .footer .navigation__list
    padding-top: 30px
    align-items: flex-start
    flex-direction: column
    gap: 5px
  .footer .contact-row
    padding-top: 0
  .footer__column.footer__column-right
    padding-left: 0
  .footer__contact-us-form-caption
    padding-top: 25px
  .footer__copyright
    padding-top: 30px
  .footer-nav__donate-button
    bottom: 110px
    right: 0
  .address-section
    padding-top: 75px
  .contact-row
    padding-bottom: 70px
@media screen and ( max-width: 500px )
  .footer .navigation__list
    padding-top: 45px
  .contact-us-form__button-submit
    padding-right: 0
    justify-content: flex-end
  .address-section
    padding-top: 50px
  .footer-nav__donate-button 
    bottom: -708px;
    right: 50%;
    transform: translateX(50%);
  .contact-row
    padding-bottom: 180px
  .footer
    padding-bottom: 30px;

