.section-wrapper.nourish-section-wrapper
  background: var(--section-color-background-two)
  
.nourish-section__description
  text-align: center

.nourish-section__choose-button-wrapper
  padding-top: 60px
  display: flex
  justify-content: center

@media only screen and (max-width: 1200px) 
  .payment-order__wrapper,
  .nourish-section__choose-button-wrapper
    padding-top: 50px
  .icon-arrow
    width: 48px

@media only screen and (max-width: 680px) 
  .nourish-section__describe-wrapper
    gap: 18px
  .nourish-section__description
    max-width: 539px
  .icon-arrow
    width: 40px;
    height: 40px;
    background-repeat: no-repeat
  .payment-order__wrapper
    padding-top: 48px

@media screen and ( max-width: 400px )
  .nourish-section__description
    display: none
  .payment-order__wrapper
    padding-top: 30px
  .nourish-section__choose-button-wrapper
    padding-top: 40px