include ../button/button.pug

mixin socials(items = [],options = {})
  -
    var classes = 'socials '
    classes += options.class ? options.class : ''
  ul.socials
    each item in items
      li.socials__item
        +button({value: item.value, href: item.href, addClass: 'socials__link', type: item.type, icon: item.icon, modifier: item.modifier})
