.testimonials-section__choose-button-wrapper
  display: flex
  justify-content: center


.testimonials-section__testimonials-slider .slick-track
  display: flex
  gap: 30px

.testimonials-section__choose-button-wrapper
  padding-top: 30px