extends ../base/base.pug

include ../../components/header/header.pug

block variables
  -
    pageTitle = 'Online zoo'

block header 
  +header({
    navigationItems: [{href: './',value:'About',type:'nav'},{href: './zoos.html#panda',type:'nav',value:'Zoos',modifier:'current'},{href: './map.html',type:'nav',value:'Map'},{href: '#contact-us-form',type:'nav',value:'Contact Us'},{href:'https://www.figma.com/file/HKt5Nlx0jghQtJp6jW9q8F/zooApp?node-id=155%3A205',type:'nav',value:'Design'}]
  })
block main 
  