.animals-player-section
  padding-top: 60px

.animals-player-section__header 
  text-align: left
  padding-bottom: 40px

.animals-player-section__player-and-descrtion-wrapper
  display: flex
  justify-content: space-between

.animals-player-section__video-wrapper
  display: flex
  flex-direction: column
  gap: 30px

.animals-player-section__video-previews__wrapper
  display: flex
  justify-content: space-between
  .preview__wrapper
    width: 246px
    height: 141px
    .preview__image
      width: 100%
      height: 100%

.animals-player-section__video-element__wrapper
  // max-width: 790px
  // width: 100%
  width: 790px
  height: 442px

.animals-player-section__video
  width: 100%
  height: 100%

.animal-descriptions
  display: flex
  flex-direction: column
  gap: 13px

.animal-description__content
  max-width: 380px
  width: 100%

.animal-description__wrapper
  display: flex
  flex-direction: column
  gap: 6px

.animal-description__header::first-letter
  text-transform: uppercase

.animal-descriptions-wrapper
  display: flex
  flex-direction: column
  gap: 35px

.animal-description__feed-button
  width: 194px
  height: 55px