extends ../base/base.pug

include ../../components/header/header.pug

block variables
  -
    pageTitle = 'Online zoo'

block header 
  +header({
    navigationItems: [{href: './',value:'About',type:'nav'},{href: './zoos.html#panda',type:'nav',value:'Zoos',modifier:'current'},{href: '#',type:'nav',value:'Map'},{href: '#contact-us-form',type:'nav',value:'Contact Us'},{href:'#',type:'nav',value:'Design'}]
  })
block main 
  