.theme-switch 
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;

/* Hide default HTML checkbox */
.theme-switch__checkbox
  opacity: 0;
  width: 0;
  height: 0;

.theme-switch__switcher 
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-color-background);
  -webkit-transition: .4s;
  transition: .4s;


.theme-switch__switcher:before 
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  background-color: var(--toggle-color-thumb);
  -webkit-transition: .4s;
  transition: .4s;


// input:checked + .switcher 
//   background-color: var(--toggle-color-background-checked);

// input:checked + .switcher::before
//   background-color: var(--toggle-color-thumb-color-checked);

// input:focus + .switcher 
//   box-shadow: 0 0 1px var(--color-toggle-background-checked);


.theme-switch__checkbox:checked + .theme-switch__switcher:before 
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);


/* Rounded switchers */
.theme-switch__switcher.round 
  border-radius: 190px;


.theme-switch__switcher.round:before 
  border-radius: 50%;
