.section-wrapper.explanation-section-wrapper
  background: var(--section-color-background-one)

.explanation-section__title
  text-align: left

.explanation-section__animal-slider-wrapper
  display: flex
  flex-direction: column
  gap: 30px
  max-width: 790px;
  width: 100%;


.animal-slide__wrapper
  max-width: 100% 
  height: 323px
  overflow: hidden;
  position: relative;

.explanation-section__animal-slide
  height: 323px