.map-section__title
  padding-bottom: 60px
.map-section-wrapper
  background-color: var(--section-color-background-two)

.map-section-watch-online-button-wrapper
  display: flex;
  justify-content: center;
  padding-top: 35px

@media screen and ( max-width: 640px )
  .map-section
    padding-bottom: 80px
    
@media screen and ( max-width: 500px )
  .map-section-watch-online-button-wrapper 
    padding-top: 44px;

@media screen and ( max-width: 400px )
  .map-section__title
    padding-bottom: 30px
  .map-section
    padding-bottom: 60px
  .map-section-watch-online-button-wrapper
    padding-top: 30px 
